body{
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #0056b3;
    align-items: center;
    padding: 15px 40px;
}

.logo{
    font-size: 25px;
    font-weight: bold;
}

.logo span{
    color: #ffcc00;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.banner{
    background-color:rgb(86, 122, 153);
    color: white;
    text-align: center;
    padding: 30px;
}

.banner button{
    background-color: rgb(224, 197, 197);
    font-size: 20px;
    border: none;
    border-radius: 5px;
   cursor: pointer;
}

.cursos{
    background-color: rgb(250, 229, 229);
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

footer{
    background-color: #222;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

.kim{
    width: 100%; 
    height: 180px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 15px; 
}



